@import 'styles/fonts.css';
@import 'styles/main.css';
@import 'styles/icao-9303.css';
@import 'styles/navigation.css';
@import 'styles/sidebar.css';
@import 'styles/sidebar-tabs.css';
@import 'styles/sidebar-layers.css';
@import 'styles/welcome.css';
@import 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css';
@import 'styles/forms.css';
@import 'styles/dropdown.css';
@import 'styles/dialog.css';